p { margin: 0px; }
#welcomeMessage { margin-bottom: 10px; font-weight: bold; }
input[type = "text"] { width: 250px; }

/* list item styles */
span { margin-left: 10px; display: inline-block; width: 100px; }
li { list-style-type: none; width: 220px;}
li:first-child { border-top: 1px solid grey; }
li:nth-child(even) { background-color: lightyellow;
   border-bottom: 1px solid grey; }
li:nth-child(odd) { background-color: lightblue; 
   border-bottom: 1px solid grey; }
/*選取器   http://csscoke.com/2013/09/21/%E4%BD%BF%E7%94%A8css3-nth-childn-%E9%81%B8%E5%8F%96%E5%99%A8%E8%A9%B3%E8%A7%A3/*/